{% extends '_layout.twig' %}

{% block content %}
  {% if portfolio is not empty %}
    <div class="uk-container">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <a href="{{ portfolio.bigpic }}" data-lightbox="galeri" data-title="{{ portfolio.bigcaption }}">
          <img src="{{ portfolio.bigpic }}" uk-cover>
        </a>
        <canvas width="600" height="400"></canvas>
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">{{ portfolio.judul }}</h3>
        {% for label in portfolio.label %}
          <div class="uk-label">{{ label }}</div>
        {% endfor %}
        <p>{{ portfolio.deskripsi }}</p>
        <P>Completed: {{ portfolio.selesai }}</P>
        <a class="uk-button uk-button-default" onclick="window.history.back(-1);">back to Index</a><br><br>
        {% for gambar in portfolio.smallpic %}
          <a href="{{ gambar }}" data-lightbox="galeri" data-title="{{ portfolio.smallcaption[loop.index0] }}">
            <img class="width" src="{{ gambar }}">
          </a>
        {% endfor %}
      </div>
    </div>
    </div>
  {% else %}
    <div class="uk-container" style="left: 50%; padding-top: 250px; transform: translate(-50% -50%);">
    <div class="uk-card uk-body uk-card-default">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div class="uk-card-body uk-card-default uk-position-center">
          <div class="uk-text-center">
            <p>Id tidak ditemukan. Anda akan diarahkan ke index.php dalam 4 detik.</p>
            <script>
              setTimeout(function(){
                window.location.href = 'index.php';
              }, 4000);
            </script>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endif %}
{% endblock %}